/* FAKE CONTENT */

#globo-bar {
	background:url("/assets-fake/fake-globo-bar.png") center top no-repeat;
	height:31px;
	text-indent:-9999em;
	overflow:hidden;
	color:transparent;
	font-size:0em;
	background-color:#F3F3F3;
}