/**
 *
 * FILE		main.css
 * DATE		2016-06-26
 * AUTHOR	Fábio Marciano
 *
**/

@import url("/assets/style/fake.css");

* {
	border:0px;
	margin:0px;
	padding:0px;
	outline:none;
}

HTML, BODY {

}

BODY {
	font-size:10px;
	-webkit-overflow-scrolling:touch;
}

BODY.menu-active {
	overflow:hidden;
}

A {
	text-decoration:none;
}

UL {
	list-style-type:none;
}

H1, H2, H3, H4, H5, H6 {
	font-size:1.0em;
	font-weight:normal;
}

BODY > HEAD, BODY > FOOTER, BODY > MAIN {
	position:relative;
}

#globo-bar, BODY > HEADER {
	z-index:3;
}

BODY > MAIN {
	z-index:2;
}

BODY > FOOTER {
	z-index:1;
}

/* BARRA GLOBO.COM */

#globo-bar {
	position:fixed;
	top:0px;
	width:100%;
}

/* HEADER */

BODY > HEADER {
	position:fixed;
	background-color:#000;
	height:61px;
	border-bottom:solid 2px #939598;
	top:31px;
	width:100%;
}

BODY > HEADER > H1 {
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}

BODY > HEADER > H1 > A {
	display:block;
	width:110px;
	height:29px;
	background:url("/assets/media/header-logo.png") center center no-repeat;
}

BODY > HEADER > H3 {
	position:absolute;
	right:8px;
	top:50%;
	transform:translate(0%, -50%);
	width:53px;
	height:27px;
}

BODY > HEADER > H3 > A {
	display:block;
	width:53px;
	height:27px;
	line-height:27px;
	text-align:center;
	background-color:#333;
	color:#FFF;
	border-radius:4px;
	text-transform:uppercase;
}

BODY > HEADER > BUTTON {
	position:absolute;
	display:block;
	width:26px;
	height:24px;
	background:url("/assets/media/ico-menu.png") center center no-repeat;
	cursor:pointer;
	left:14px;
	top:20px;
}

BODY.menu-active > HEADER > BUTTON {
	background:url("/assets/media/ico-menu-close.png") center center no-repeat;
}

BODY > HEADER > DIV {
	display:none;
	position:fixed;
	background:url("/assets/media/menu-top.png") 14px top no-repeat;
	padding-top:12px;
	top:79px;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:3;
}

BODY.menu-active > HEADER > DIV {
	display:block;
}

BODY > HEADER > DIV > SECTION {
	background:#444348;
	height:100%;
	padding:24px 26px 24px 14px;
	overflow:auto
}

BODY > HEADER > DIV > SECTION > HEADER > FORM {
	margin-bottom:14px;
}

BODY > HEADER > DIV > SECTION > HEADER > FORM > FIELDSET {
	border:solid 1px #838386;
}

BODY > HEADER > DIV > SECTION > HEADER > FORM > FIELDSET > INPUT {
	font-size:1.6em;
	line-height:2.25em;
	text-indent:9px;
	text-transform:uppercase;
	color:#939598;
	background:transparent;
}

BODY > HEADER > DIV > SECTION > HEADER > FORM > FIELDSET > BUTTON {
	float:right;
	display:block;
	width:31px;
	height:36px;
	background:url("/assets/media/ico-search.png") center center no-repeat;
	cursor:pointer;
}

BODY > HEADER > DIV > SECTION > NAV > UL > LI > A {
	font-size:2.2em;
	line-height:1.9em;
	color:#FFF;
	text-transform:uppercase;
}

BODY > HEADER > DIV > SECTION > NAV > UL > LI {
	border-bottom:solid 1px #7E7D80;
	border-top:solid 1px #5B5A5E;
}

BODY > HEADER > DIV > SECTION > NAV > UL > LI:first-child {
	border-top:0px;
}

BODY > HEADER > DIV > SECTION > FOOTER {
	padding:20px 0px 40px 0px;
}

BODY > HEADER > DIV > SECTION > FOOTER > H3 {
	margin-bottom:19px;
}

BODY > HEADER > DIV > SECTION > FOOTER > H3 > A {
	display:block;
	font-size:2.1em;
	width:216px;
	height:51px;
	line-height:51px;
	text-align:center;
	text-transform:uppercase;
	background-color:#0F7293;
	color:#FFF;
	border-radius:4px;
}

BODY > HEADER > DIV > SECTION > FOOTER > NAV > UL > LI {
	border-bottom:solid 1px #7E7D80;
}

BODY > HEADER > DIV > SECTION > FOOTER > NAV > UL > LI > A {
	font-size:1.6em;
	height:28px;
	line-height:28px;
	color:#FFF;
	text-transform:uppercase;
}

/* BODY > MAIN */

MAIN {
	padding-top:92px;
}

/* BODY > FOOTER */

BODY > FOOTER {
	background-color:#231F20;
	text-align:center;
}

BODY > FOOTER > H6 {
	background-color:#000000;
	background-image:url("/assets/media/footer-eg-logo.png");
	background-position:center 11px;
	background-repeat:no-repeat;
	border-bottom:solid 1px #828080;
	font-size:1.0em;
	font-weight:normal;
	line-height:2.6em;
	padding-top:48px;
	padding-bottom:8px;
}

BODY > FOOTER, BODY > FOOTER A {
	color:#FFF;
	font-weight:bold;
}

BODY > FOOTER H6 {
	color:#737373;
}

BODY > FOOTER > NAV {
	padding:6px 0px 10px 0px;
}

BODY > FOOTER LI {
	font-size:1.8em;
	line-height:1.8em;
}

/* SECTION MODELS */

/* SECTION MODEL #0 */

.section-model-0 {
	width:100%;
	margin-bottom:40px;
	background:#000;
}

.section-model-0 > UL > LI > FIGURE FIGCAPTION H2 A {
	color:#FFF;
}

.section-model-0 HEADER H3 {
	font-size:2.1em;
	line-height:2.3em;
	min-height:2.3em;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:0.05em;
	color:#FFF;
}

.section-model-0 > UL {
	width:100%;
	overflow:hidden;
}

.section-model-0 > UL > LI {
	display:none;
	width:100%;
	float:left;
}

.section-model-0 > UL > LI:first-child {
	display:block;
}

.section-model-0 > UL > LI > FIGURE {
	display:block;
	width:100%;
}

.section-model-0 > UL > LI > FIGURE > A {
	display:block;
	position:relative;
}

.section-model-0 > UL > LI > FIGURE > A > IMG {
	display:block;
	position:absolute;
	right:10px;
	top:10px;
}

.section-model-0 > UL > LI[data-type="video"] > FIGURE > A > IMG {
	right:50%;
	top:50%;
	transform:translate(50%, -50%);
}

.section-model-0 > UL > LI > FIGURE > A > IMG:first-child {
	display:block;
	position:relative;
	width:100%;
	right:auto;
	top:auto;
	transform:translate(0%, 0%);
}

.section-model-0 > UL > LI > FIGURE FIGCAPTION {
	padding:0px 20px;
	text-align:center;
}

.section-model-0 > UL > LI > FIGURE FIGCAPTION SMALL A {
	color:#F03C2F;
	text-transform:uppercase;
	font-size:1.5em;
	height:43px;
	line-height:43px;
}

.section-model-0 > UL > LI > FIGURE FIGCAPTION H2 A {
	font-size:2.2em;
	line-height:1.36em;
}

.section-model-0 > FOOTER {
	clear:both;
}

.section-model-0 > FOOTER > NAV > UL {
	text-align:center;
	padding:36px 0px;
}

.section-model-0 > FOOTER > NAV > UL > LI {
	display:inline-block;
	height:14px;
	width:14px;
	border:solid 1px #A2A4A6;
	background:#FFF;
	border-radius:50%;
	margin:0px 3px;
}

.section-model-0 > FOOTER > NAV > UL > LI.active {
	background:#898989;
}

.section-model-0[data-style="dark"] {
	background:#000;
}

.section-model-0[data-style="dark"] HEADER H3 {
	color:#FFF;
}

.section-model-0[data-style="dark"] > UL > LI > FIGURE FIGCAPTION H2 A {
	color:#FFF;
}

.section-model-0[data-style="light"] {
	background:#D7D7D7;
}

.section-model-0[data-style="light"] HEADER H3 {
	color:#000;
}

.section-model-0[data-style="light"] > UL > LI > FIGURE FIGCAPTION H2 A {
	color:#000;
}

/* SECTION MODEL #1 */

.section-model-1 {
	width:100%;
	margin-bottom:40px;
}

.section-model-1 > UL > LI {
	margin-bottom:20px;
	position:relative;
}

.section-model-1 > UL > LI > FIGURE {
	width:100%;
}

.section-model-1 > UL > LI > FIGURE > A {
	display:block;
	position:relative;
}

.section-model-1 > UL > LI > FIGURE > A > IMG {
	display:block;
	position:absolute;
	right:10px;
	top:10px;
}

.section-model-1 > UL > LI[data-type="advertising"] {
	background:#F3F3F3;
}

.section-model-1 > UL > LI[data-section="colunas"]:first-child {
	margin-top:28px;
}

.section-model-1 > UL > LI[data-type="advertising"] .advertising > DIV {
	background:url("/assets/media/lbl-advertising-1.png") center 8px no-repeat;
}

.section-model-1 > UL > LI[data-type="video"] > FIGURE > A > IMG {
	right:50%;
	top:50%;
	transform:translate(50%, -50%);
}

.section-model-1 > UL > LI > FIGURE > A > IMG:first-child {
	display:block;
	position:relative;
	width:100%;
	right:auto;
	top:auto;
	transform:translate(0%, 0%);
}

.section-model-1 > UL > LI > FIGURE FIGCAPTION {
	text-align:center;
	padding:10px 20px 15px 20px;
	background-position:center bottom;
	background-repeat:no-repeat;
	background-image:url("/assets/media/bar-tempo.svg");
}

.section-model-1 > UL > LI[data-section="sponsor"] FIGCAPTION {
	background-image:url("/assets/media/bar-sponsor.svg");
}

.section-model-1 > UL > LI[data-section="tempo"] FIGCAPTION {
	background-image:url("/assets/media/bar-tempo.svg");
}

.section-model-1 > UL > LI > FIGURE FIGCAPTION SMALL {
	display:block;
	font-size:1.5em;
	margin-bottom:7px;
	text-transform:uppercase;
}

.section-model-1 > UL > LI > FIGURE FIGCAPTION SMALL A {
	color:#F03C2F;
	line-height:20px;
	padding:0px 7px;
	display:inline-block;
}

.section-model-1 > UL > LI[data-section="tempo"] > FIGURE FIGCAPTION SMALL A {
	color:#F03C2F;
}

.section-model-1 > UL > LI[data-section="sponsor"] > FIGURE FIGCAPTION SMALL A {
	color:#FFF;
	background:#6FBB59;
}

.section-model-1 > UL > LI > FIGURE FIGCAPTION H2 {
	font-size:2.2em;
	line-height:1.36em;
}

.section-model-1 > UL > LI > FIGURE FIGCAPTION H2 A {
	color:#000;
}

.section-model-1 > UL > LI > SPAN {
	position:absolute;
	width:32px;
	height:32px;
	background:#F00;
	top:10px;
	right:10px;
}

.section-model-1 > UL > LI[data-type="advertising"] {
	margin-bottom:0px;
}

.section-model-1 FIGURE .advertising {
	background:none;
	margin-bottom:0px;
}

.section-model-1 FIGURE .advertising > DIV {
	background:none;
	display:block;
	position:relative;
	left:auto;
	transform:translate(0%, 0%);
}

.section-model-1 FIGURE .advertising > DIV > * {
	padding:0px;
	margin-top:0px;
}

.section-model-1 LI > .advertising {
	margin-bottom:0px;
}

/* SECTION MODEL #2 */

.section-model-2 {
	border:solid 2px #000;
	border-top:0px;
	border-radius:0px 0px 2px 2px;
	margin-bottom:20px;
	padding-bottom:33px;
}

.section-model-2 > HEADER > H3 {
	background:#000;
	color:#FFF;
	text-transform:uppercase;
	text-align:center;
	font-size:2.1em;
	height:40px;
	line-height:40px;
}

.section-model-2 > UL {
	padding:21px 27px 34px 27px;
}

.section-model-2 > UL > LI {
	margin-top:20px;
	display:flex;
	flex-flow:row;
	flex-wrap:nowrap;
}

.section-model-2 > UL > LI:first-child {
	margin-top:0px;
}

.section-model-2 > UL > LI > FIGURE > A {
	width:25%;
	display:block;
	float:left;
}

.section-model-2 > UL > LI > FIGURE > A > IMG {
	width:100%;
	height:auto;
	display:block;
}

.section-model-2 > UL > LI > FIGURE > FIGCAPTION {
	width:70%;
	display:block;
	float:right;
}

.section-model-2 > UL > LI > FIGURE > FIGCAPTION > SMALL {
	display:block;
	font-size:1.5em;
	text-transform:uppercase;
	margin-bottom:10px;
}

.section-model-2 > UL > LI > FIGURE > FIGCAPTION > SMALL A {
	color:#F03C2F;
}

.section-model-2 > UL > LI > FIGURE > FIGCAPTION > H2 A {
	font-size:1.8em;
	line-height:1.0em;
	color:#000;
}

.section-model-2 > FOOTER > H6 > A {
	display:block;
	border:solid 2px #939598;
	color:#939598;
	margin:0px 28px;
	font-size:1.7em;
	height:30px;
	line-height:30px;
	text-align:center;
	text-transform:uppercase;
}

/* SECTION MODEL 3 */

.section-model-3 {
	background:#F3F3F3;
	margin-bottom:40px;
}

.section-model-3 > HEADER {
	position:relative;
	margin-top:30px;
}

.section-model-3 > HEADER > H3 {
	background:#000;
	color:#FFF;
	text-transform:uppercase;
	text-align:left;
	font-size:2.1em;
	height:40px;
	line-height:40px;
	padding-left:30px;
	margin-bottom:10px;
}

.section-model-3 > HEADER > FIGURE {
	position:absolute;
	right:0px;
	bottom:0px;
}

.section-model-3 > UL {
	display:flex;
	flex-flow:row;
	flex-wrap:wrap;
	width:100%;
}

.section-model-3 > UL > LI {
	width:48%;
	flex-grow:1;
	margin-bottom:4%;
	text-align:center;
	align-items:stretch;
}

.section-model-3 > UL > LI:nth-child(even) {
	margin-left:4%;
}

.section-model-3 > UL > LI > FIGURE {
	width:100%;
}

.section-model-3 > UL > LI > FIGURE > A {
	display:block;
	position:relative;
}

.section-model-3 > UL > LI > FIGURE > A > IMG {
	display:block;
	position:absolute;
	right:10px;
	top:10px;
}

.section-model-3 > UL > LI[data-type="video"] > FIGURE > A > IMG {
	right:50%;
	top:50%;
	transform:translate(50%, -50%);
}

.section-model-3 > UL > LI > FIGURE > A > IMG:first-child {
	display:block;
	position:relative;
	width:100%;
	right:auto;
	top:auto;
	transform:translate(0%, 0%);
}

.section-model-3 > UL > LI SMALL {
	font-size:1.4em;
	height:20px;
	line-height:20px;
	text-transform:uppercase;
	display:block;
}

.section-model-3 > UL > LI SMALL A {
	color:#F03C2F;
	display:block;
}

.section-model-3 > UL > LI H2 {
	font-size:1.6em;
}

.section-model-3 > UL > LI H2 A {
	color:#000;
}

.section-model-3 > UL > LI[data-section="sponsor"] SMALL A {
	color:#FFF;
	background:#6FBB59;
}

.section-model-3 > .advertising {
	background:none;
	margin-bottom:0px;
}

.section-model-3 > .advertising > DIV {
	background:none;
	display:block;
	position:relative;
	left:auto;
	transform:translate(0%, 0%);
}

.section-model-3 > .advertising > DIV > * {
	padding:0px;
	margin-top:0px;
}

/* SECTION MODEL 4 */

.section-model-4 {
	margin-bottom:40px;
}

.section-model-4 > HEADER {
	position:relative;
	margin-top:30px;
}

.section-model-4 > HEADER > H3 {
	background:#000;
	color:#FFF;
	text-transform:uppercase;
	text-align:left;
	font-size:2.1em;
	height:40px;
	line-height:40px;
	padding-left:30px;
	margin-bottom:10px;
}

.section-model-4 > UL > LI {
	clear:both;
	margin-bottom:4%;
}

.section-model-4 > UL > LI > FIGURE > A {
	float:left;
	width:48%;
	position:relative;
}

.section-model-4 > UL > LI > FIGURE > A > IMG {
	display:block;
	position:absolute;
	right:10px;
	top:10px;
}

.section-model-4 > UL > LI[data-type="video"] > FIGURE > A > IMG {
	right:50%;
	top:50%;
	transform:translate(50%, -50%);
}

.section-model-4 > UL > LI > FIGURE > A > IMG:first-child {
	display:block;
	position:relative;
	width:100%;
	right:auto;
	top:auto;
	transform:translate(0%, 0%);
	border-bottom-width:4px;
	border-bottom-style:solid;
	border-bottom-color:#F03C2F;
}

.section-model-4 > UL > LI > FIGURE > FIGCAPTION {
	width:48%;
	float:right;
}

.section-model-4 > UL > LI SMALL {
	font-size:1.5em;
	height:20px;
	line-height:20px;
	text-transform:uppercase;
	display:block;
}

.section-model-4 > UL > LI SMALL A {
	color:#F03C2F;
	display:block;
}

.section-model-4 > UL > LI H2 {
	font-size:1.8em;
}

.section-model-4 > UL > LI H2 A {
	color:#000;
}

.section-model-4 > UL > LI[data-section="sponsor"] SMALL A {
	font-size:0.8em;
	color:#FFF;
	background:#6FBB59;
	text-align:center;
}

.section-model-4 > UL > LI[data-section="sponsor"] > FIGURE > A > IMG:first-child {
	border-bottom-color:#6FBB59;
}

/* SECTION NEWSLETTER */

#section-newsletter {
	border:solid 1px #232323;
	width:308px;
	margin:0px auto 26px auto;
}

#section-newsletter > HEADER > H3 {
	width:100%;
	height:80px;
	background:url("/assets/media/newsletter-box-header.png") top center no-repeat;
	background-size:contain;
}

#section-newsletter > FORM {
	padding:6px;
}

#section-newsletter > FORM FIELDSET {
	margin-bottom:18px;
	position:relative;
	overflow:hidden;
}

#section-newsletter > FORM FIELDSET INPUT[type="text"] {
	display:block;
	height:41px;
	line-height:41px;
	font-size:1.5em;
	border:solid 1px #232323;
	width:294px;
	text-indent:18px;
	text-transform:lowercase;
	color:#A49F9F;
}

#section-newsletter > FORM FIELDSET LABEL {
	display:block;
	float:left;
	width:140px;
	padding:0px 0px 0px 52px;
	height:36px;
	background:url("/assets/media/custom-checkbox.png") left top no-repeat;
	font-size:1.3em;
	line-height:1.5em;
	color:#A49F9F;
	cursor:pointer;
}

#section-newsletter > FORM FIELDSET INPUT[type="checkbox"] {
	position:absolute;
	left:0px;
	top:0px;
	transform:translate(-100%, -100%);
}

#section-newsletter > FORM FIELDSET BUTTON {
	display:block;
	float:right;
	width:89px;
	height:36px;
	font-size:1.2em;
	line-height:36px;
	color:#FFF;
	background:#0F7293;
	border-radius:2px;
	text-transform:uppercase;
}

#section-newsletter > FORM P {
	font-size:2.2em;
}

/* ADVERTISING */

.advertising {
	background:#F3F3F3;
	margin-bottom:20px;
	line-height:0px;
	font-size:0px;
}

.advertising > DIV {
	background:url("/assets/media/lbl-advertising-0.png") left 8px no-repeat;
	display:inline-block;
	position:relative;
	left:50%;
	transform:translate(-50%, 0%);
}

.advertising > DIV > * {
	padding:20px 0px;
	margin-top:10px;
}

/* MORE NEWS */

#more-news {
	background:url("/assets/media/globe.png") center top no-repeat;
	padding-top:69px;
	margin-bottom:40px;
}

#more-news A {
	display:block;
	background:url("/assets/media/btn-mais-noticias.png") center center no-repeat;
	width:152px;
	height:39px;
	margin:0px auto;
}

/* WEEKLY ISSUE */

#weekly-issue {
	background:#000;
	margin-bottom:40px;
	padding:20px 0px;
}

#weekly-issue IMG {
	display:block;
	margin:0px auto;
}

#weekly-issue H3 {
	font-size:1.5em;
	color:#F03C2F;
	text-transform:uppercase;
	padding:0px 20px;
	margin-bottom:5px;
}

/* MAGAZINE SLIDER */

#magazine-slider {
	margin-bottom:40px;
}

#magazine-slider > IMG {
	display:block;
	margin:0px auto;
}

/* BLOG */

#blog-header {
	border-bottom:solid 1px #F03C2F;
}

#blog-header IMG {
	display:block;
}

/* ARTICLE HEADER */

/*MAIN > ARTICLE > HEADER {
	margin-bottom:28px;
}*/

MAIN > ARTICLE > HEADER > H2 {
	background:url("/assets/media/bar-tempo.svg") left bottom no-repeat;
	font-size:2.5em;
	line-height:1.2em;
	margin:0px 13px 15px 13px;
	padding:10px 0px 15px 0px;
}

MAIN > ARTICLE > HEADER > H3 {
	font-size:1.6em;
	margin:0px 13px 10px 13px;
}

MAIN > ARTICLE > HEADER > H4 {
	background:#000;
	color:#FFF;
	text-align:center;
	border-bottom:solid 4px #F03C2F;
	font-size:3.0em;
	text-transform:uppercase;
	height:2.2em;
	line-height:2.2em;
	margin-bottom:0px;
}

MAIN > ARTICLE > HEADER > ADDRESS {
	font-size:1.4em;
	font-style:normal;
	margin:0px 13px 10px 13px;
}

MAIN > ARTICLE > HEADER > P {
	font-size:1.4em;
	margin:0px 13px 10px 13px;
}

MAIN > ARTICLE > HEADER > P INS {
	text-decoration:none;
	display:block;
}

MAIN > ARTICLE > HEADER > FIGURE IMG {
	display:block;
	width:100%;
}

MAIN > ARTICLE > HEADER > FIGURE H2 {
	background:url("/assets/media/bar-tempo.svg") left bottom no-repeat;
	font-size:2.5em;
	line-height:1.2em;
	margin:0px 13px 15px 13px;
	padding:10px 0px 15px 0px;
}

MAIN > ARTICLE > P, MAIN > ARTICLE > HEADER SUMMARY {
	font-size:1.7em;
	line-height:1.8em;
	padding:0px 10px;
	max-width:480px;
	margin-bottom:2.0em;
}

MAIN > ARTICLE > P:first-of-type:first-letter, MAIN > ARTICLE > HEADER SUMMARY:first-letter {
	display:block;
	font-size:5.5em;
	line-height:1.0em;
	float:left;
	padding:0px 0px 0px 0px;
	margin:0px 12px -5px 0px;
}

MAIN > ARTICLE > H4 {
	padding:0px 10px;
	margin-bottom:1.0em;
	text-transform:uppercase;
}

MAIN > ARTICLE > FIGURE {
	margin-bottom:20px;
}

MAIN > ARTICLE > FIGURE IMG {
	display:block;
	width:100%;
	max-width:480px;
	height:auto;
	border-bottom:solid 5px #F03C2F;
}

MAIN > ARTICLE > FIGURE FIGCAPTION {
	display:block;
	padding:10px;
	font-size:1.6em;
	line-height:1.4em;
	color:#7D7D7D;
}

MAIN > ARTICLE > FIGURE FIGCAPTION ADDRESS {
	font-style:normal;
}

MAIN > ARTICLE > BLOCKQUOTE {
	padding:50px 20px 0px 20px;
	max-width:480px;
	margin:0px 0px 40px 0px;
	background:url("/assets/media/quote.png") center top no-repeat;
	text-align:center;
}

MAIN > ARTICLE > BLOCKQUOTE > P {
	font-size:2.6em;
	margin-bottom:0.5em;
}

MAIN > ARTICLE > BLOCKQUOTE ADDRESS {
	font-style:normal;
	font-size:1.6em;
}

MAIN > ARTICLE > H4 {
	font-size:2.4em;
}

MAIN > ARTICLE > VIDEO {
	display:block;
	width:100%;
	margin-bottom:20px;
}

MAIN > ARTICLE > ASIDE {
	font-size:1.0em;
	line-height:1.2em;
	padding:0px 16px;
	margin:0px 10px 20px 10px;
	border-left:solid 7px #F03C2F;
}

MAIN > ARTICLE > ASIDE H3 {
	font-size:2.6em;
	line-height:1.2em;
}

MAIN > ARTICLE > ASIDE > ADDRESS {
	font-size:1.6em;
	font-style:normal;
	margin-top:10px;
}

/* GALLERY */

.gallery-box > DIV {
	position:relative;
}

.gallery-box > DIV > A, .gallery-box > DIV > VAR, .gallery-box > DIV > BUTTON {
	position:absolute;
	display:block;
}

.gallery-box > DIV > A {
	top:11px;
	right:9px;
	width:21px;
	height:21px;
	background:url("/assets/media/ico-zoom.png") center center no-repeat;
}

.gallery-box > DIV > VAR, .gallery-box > DIV > BUTTON {
	bottom:10px;
}

.gallery-box > DIV > VAR {
	left:9px;
	font-size:2.2em;
	color:#FFF;
	font-style:normal;
}

.gallery-box > DIV > BUTTON {
	right:9px;
	width:28px;
	height:28px;
	background:url("/assets/media/ico-mosaic.png") center center no-repeat;
}

/* TABLE */

TABLE {
	border-collapse:collapse;
	min-width:280px;
	max-width:460px;
	margin:0px auto 5px auto;
	border:solid 2px #000;
	border-radius:4px;
}

TABLE CAPTION {
	background:#000 url("/assets/media/bkg-table-caption.png") left bottom repeat-x;
	font-size:2.0em;
	min-height:46px;
	line-height:2.3em;
	color:#FFF;
	text-transform:uppercase;
}

TABLE TD, TABLE TH {
	font-size:1.6em;
	text-align:left;
	padding:5px;
}

/* BOX MODEL #0 */

.box-model-0 {
	margin:0px 10px 20px 10px;
	padding:16px;
	background:#000;
}

.box-model-0 HEADER H3 {
	color:#FFF;
	font-size:2.1em;
	text-transform:uppercase;
	border-bottom:solid 4px #F03C2F;
	margin-bottom:14px;
}

.box-model-0 LI {
	font-size:1.8em;
	line-height:1.4em;
	margin-bottom:1.0em;
}

.box-model-0 LI, .box-model-0 LI A {
	color:#FFF;
}

/* GLOBOMAGS BANNER */

#globomags-banner-section {
	padding:5px;
	border-top:solid 1px #A6A6A6;
	border-bottom:solid 1px #A6A6A6;
}

#globomags-banner-section IMG {
	display:block;
	margin:0px auto;
}

/* CONTENT LOADER */

#content-load {
	position:relative;
	padding-top:100px;
	padding-bottom:75px;
	background:linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1) 50%);
	margin-top:-50%;
}

#content-load SVG {
	width:48px;
	height:48px;
	display:none;
	color:#8F8F8F;
	fill:currentColor;
	stroke:currentColor;
	position:absolute;
	bottom:0px;
	left:50%;
	margin:-24px 0px 0px -24px;
	animation:SPIN 1s ease-in-out infinite;
	transform-origin:50% 50%;
}

#content-load.active SVG {
	display:block;
}

@keyframes SPIN {
	100% {
		transform:rotate(720deg);
	}
}

#content-load BUTTON {
	display:block;
	font-size:2.2em;
	color:#000;
	text-transform:lowercase;
	background:#FFF;
	height:60px;
	line-height:60px;
	margin:0px auto;
	border:solid 3px #757575;
	border-radius:3px;
	padding:0px 27px;
}

/* OVERLAYER */

#overlayer {
	display:none;
	position:fixed;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	background:#000;
	z-index:9;
	overflow:auto
}

#overlayer > DIV {
	position:relative;
	overflow:auto;
}

#overlayer > DIV > A {
	position:fixed;
	right:10px;
	display:block;
	width:51px;
	height:49px;
	background:url("/assets/media/ico-close.png") center center no-repeat;
}

#overlayer > DIV > SECTION > ARTICLE, #overlayer > DIV > NAV {
	padding:10px;
}

#overlayer > DIV > SECTION > ARTICLE > FIGURE > IMG, #overlayer > DIV > DIV UL FIGURE > IMG {
	display:block;
	width:100%;
	max-width:320px;
	height:auto;
	margin:0px auto 20px auto;
}

#overlayer > DIV > DIV UL {
	padding-bottom:40px;
}

#overlayer > DIV > DIV UL LI {
	margin-top:40px;
}

#overlayer > DIV > DIV UL LI:first-child {
	margin-top:0px;
}

#overlayer > DIV > SECTION > ARTICLE > FIGURE > FIGCAPTION, #overlayer > DIV > DIV FIGURE > FIGCAPTION {
	max-width:320px;
	margin:0px auto;
	color:#969292;
	font-size:1.6em;
	line-height:1.2em;
	display:block;
	width:100%;
	padding:20px 0px;
	background:url("/assets/media/bar-tempo-long.svg") left bottom no-repeat;
}

#overlayer > DIV > NAV > UL {
	display:flex;
	flex-flow:row;
	flex-wrap:wrap;
	width:320px;
	margin:0px auto;
	padding-top:10px;
}

#overlayer > DIV > NAV > UL > LI {
	flex-grow:1;
	width:48%;
	margin-bottom:4%;
}

#overlayer > DIV > NAV > UL > LI:nth-child(even) {
	margin-left:4%;
}

#overlayer > DIV > NAV > UL > LI IMG {
	display:block;
	height:100px;
	width:auto;
	margin:0px auto;
}


/*
	--------------------
	FONTS
	--------------------
	Thin ........... 100
	Extra-Light .... 200
	Light .......... 300
	Normal ......... 400
	Medium ......... 500
	Semi-Bold ...... 600
	Bold ........... 700
	Extra-Bold ..... 800
	Ultra-Bold ..... 900
	--------------------
*/

BODY > FOOTER {
	font-family:"Arial", sans-serif;
}

MAIN > ARTICLE > HEADER > ADDRESS, MAIN > ARTICLE > HEADER > P {
	font-family:"Open Sans", sans-serif;
}

BODY > FOOTER > H6 {
	font-family:"Roboto Condensed", sans-serif;
}

BODY > HEADER > H3 > A, BODY > HEADER > DIV > SECTION > HEADER > FORM > FIELDSET > INPUT, BODY > HEADER > DIV > SECTION > NAV > UL > LI, BODY > HEADER > DIV > SECTION > FOOTER > H3 > A, BODY > HEADER > DIV > SECTION > FOOTER > NAV > UL > LI > A, .section-model-0 HEADER H3, .section-model-0 > UL > LI > FIGURE FIGCAPTION SMALL, .section-model-1 > UL > LI > FIGURE FIGCAPTION SMALL, .section-model-2 > HEADER > H3, .section-model-2 > UL > LI, .section-model-2 > FOOTER > H6 > A, .section-model-3 > HEADER > H3, .section-model-3 > UL > LI, .section-model-4 > UL > LI SMALL, .section-model-4 > UL > LI H2, #section-newsletter > FORM, #section-newsletter > FORM FIELDSET LABEL, #section-newsletter > FORM FIELDSET BUTTON, #weekly-issue H3, MAIN > ARTICLE > HEADER > H4, MAIN > ARTICLE > HEADER > H3, MAIN > ARTICLE > FIGURE FIGCAPTION, MAIN > ARTICLE > BLOCKQUOTE > ADDRESS, MAIN > ARTICLE > H4, .box-model-0 LI, MAIN > ARTICLE > ASIDE H3, MAIN > ARTICLE > ASIDE ADDRESS, #overlayer > DIV > SECTION > ARTICLE > FIGURE > FIGCAPTION {
	font-family:"Raleway", sans-serif;
}

TABLE TD, TABLE TH, MAIN > ARTICLE > P {
	font-family:"Georgia", serif;
}

.section-model-0 > UL > LI > FIGURE FIGCAPTION H2, .section-model-1 > UL > LI > FIGURE FIGCAPTION H2, MAIN > ARTICLE > HEADER > H2, TABLE CAPTION, MAIN > ARTICLE > BLOCKQUOTE > P, .box-model-0 HEADER H3, .gallery-box > DIV > VAR, MAIN > ARTICLE > HEADER > FIGURE H2, #content-load BUTTON {
	font-family:"Alfa Slab One", serif;
}

BODY > HEADER > DIV > SECTION > FOOTER > NAV > UL > LI > A, TABLE TD, TABLE TH, MAIN > ARTICLE > FIGURE FIGCAPTION ADDRESS, .box-model-0 LI, MAIN > ARTICLE > ASIDE ADDRESS {
	font-weight:300;
}

.section-model-1 > UL > LI > FIGURE FIGCAPTION SMALL, .section-model-4 > UL > LI SMALL, #section-newsletter > FORM P, #section-newsletter > FORM FIELDSET LABEL, MAIN > ARTICLE > BLOCKQUOTE > ADDRESS {
	font-weight:500;
}

.section-model-2 > UL > LI > FIGURE > FIGCAPTION > SMALL, .section-model-2 > UL > LI > FIGURE > FIGCAPTION > H2, .section-model-3 > UL > LI SMALL, .section-model-3 > UL > LI H2, .section-model-4 > UL > LI H2, #weekly-issue H3, MAIN > ARTICLE > HEADER > H3 {
	font-weight:600;
}

BODY > HEADER > DIV > SECTION > HEADER > FORM > FIELDSET > INPUT, BODY > HEADER > DIV > SECTION > NAV > UL > LI, .section-model-0 HEADER H3, .section-model-2 > HEADER > H3, .section-model-3 > HEADER > H3, .section-model-2 > FOOTER > H6 > A, MAIN > ARTICLE > H4 {
	font-weight:700;
}

BODY > HEADER > H3 > A, BODY > HEADER > DIV > SECTION > FOOTER > H3 > A, #section-newsletter > FORM P STRONG, #section-newsletter > FORM FIELDSET BUTTON, MAIN > ARTICLE > HEADER > H4, MAIN > ARTICLE > HEADER > ADDRESS, MAIN > ARTICLE > FIGURE FIGCAPTION, MAIN > ARTICLE > ASIDE H3 {
	font-weight:800;
}

/* NEGATIVE TEXT INDENT */

BODY > HEADER > H1 > A, BODY > HEADER > BUTTON, BODY > HEADER > DIV > SECTION > HEADER > FORM > FIELDSET > BUTTON, .section-model-0 > FOOTER > NAV > UL > LI, #section-newsletter > HEADER > H3, #more-news A, .gallery-box > DIV > A, .gallery-box > DIV > BUTTON, #overlayer > DIV > A {
	text-indent:-9999em;
	overflow:hidden;
	color:transparent;
	font-size:0em;
}

/* HASLAYOUT FIX */

.section-model-2 > UL > LI:after, .section-model-3 > UL:after, .section-model-4 > UL > LI:after {
	display:block;
	clear:both;
	content:".";
	height:0px;
	visibility:hidden;
}